@{
    ViewData["Title"] = "Index";
}

<h3 style="width: 50%; margin: auto; text-align: center; margin-top: 20px;"></h3>
<div style="width: 50%; margin: auto; text-align: center; margin-top: 20px;">
    <a asp-action="RegisterStep1" class="btn btn-primary btn-lg" style="display: block; margin-bottom: 20px;">Register</a>
    <a asp-action="AccountDetails" class="btn btn-primary btn-lg" style="display: block; margin-bottom: 20px;">Details</a>
    <a asp-action="Logout" class="btn btn-primary btn-lg" style="display: block; margin-bottom: 20px;">Logout</a>

</div>
